<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{{ meta.inject().title.text() }}} {{{ meta.inject().meta.text() }}} {{{
    renderResourceHints() }}} {{{ renderStyles() }}}
  </head>
  <body>
    <div id="app"><!--vue-ssr-outlet--></div>
    {{{ renderState() }}} {{{ renderScripts() }}}
  </body>
</html>
